#logo {
  max-height: 2rem;
  margin-right: 0.5rem;
}

.name-only {
  color: var(--bs-body-color) !important;
  font-weight: bold !important;
  margin: 0.4rem 0 0 0 !important;
}

.nav-link {
  color: var(--bs-secondary-color) !important;
}

.nav-link:hover {
  text-decoration: underline;
}

.active {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1)) !important;
  text-decoration: underline;
}

.color-block {
  width: 1rem;
  height: 1rem;
  display: inline-block;
}

code {
  background-color: var(--bs-border-color);
  padding: 0.1rem 0.2rem;
  border-radius: 0.25rem;
}

pre code {
  background-color: unset;
  padding: unset;
  border-radius: var(--bs-border-radius-lg);
}

/* Make the table have rounded corners */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border-radius: var(--bs-border-radius-xl);
}
