name: commit

on:
  push:
    branches: [main]
    paths-ignore:
      - ".github/ISSUE_TEMPLATE/*"
      - ".github/workflows/pull_request_labels.yml"
      - ".github/pull_request_template.md"
  pull_request:
    branches: [main]
    paths-ignore:
      - ".github/ISSUE_TEMPLATE/*"
      - ".github/workflows/pull_request_labels.yml"
      - ".github/pull_request_template.md"

jobs:
  commit:
    strategy:
      matrix:
        configuration: [Debug, Release]
        platform: [x64, arm64]

    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Restore dependencies
        run: |
          dotnet restore Whim.sln /p:Configuration=$env:Configuration
        env:
          Configuration: ${{ matrix.configuration }}

      - name: Check formatting
        run: |
          dotnet format Whim.sln --verify-no-changes --no-restore

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1.1

      - name: Build
        run: |
          msbuild Whim.sln /p:Configuration=$env:Configuration /p:Platform=$env:Platform
        env:
          Configuration: ${{ matrix.configuration }}
          Platform: ${{ matrix.platform }}

      - name: Test
        run: |
          dotnet test Whim.sln /p:CollectCoverage=true /p:CoverletOutputFormat=opencover

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3.1.0
        with:
          files: src/**/*.opencover.xml
