name: commit

on:
  push:
    branches: [main]
    paths-ignore:
      - ".github/ISSUE_TEMPLATE/*"
      - ".github/workflows/pull_request_labels.yml"
      - ".github/pull_request_template.md"
      - "README.md"
  pull_request:
    paths-ignore:
      - ".github/ISSUE_TEMPLATE/*"
      - ".github/workflows/pull_request_labels.yml"
      - ".github/pull_request_template.md"
      - "README.md"

jobs:
  commit:
    strategy:
      matrix:
        configuration: [Debug, Release]
        platform: [x64, arm64]

    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Cache NuGet packages
        uses: actions/cache@v2
        with:
          path: ${{ github.workspace }}/.nuget/packages
          key: ${{ matrix.platform }}-nuget-${{ hashFiles('Directory.Packages.props') }}
          restore-keys: |
            ${{ matrix.platform }}-nuget-${{ hashFiles('Directory.Packages.props') }}
            ${{ matrix.platform }}-nuget-

      - name: Restore dependencies
        run: |
          dotnet restore Whim.sln -p:Configuration=$env:Configuration --packages=${{ github.workspace }}/.nuget/packages
        env:
          Configuration: ${{ matrix.configuration }}

      - name: Install dotnet tools
        run: |
          dotnet tool restore

      - name: Check C# formatting
        run: |
          dotnet tool run dotnet-csharpier . --check

      - name: Check XAML formatting
        run: |
          dotnet tool run xstyler --recursive --d . --passive --config ./.xamlstylerrc

      #   - name: Check analyzers
      #     run: |
      #       dotnet format analyzers Whim.sln --verify-no-changes --no-restore

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1.1

      - name: Build
        run: |
          msbuild Whim.sln `
            -p:Configuration=$env:Configuration `
            -p:Platform=$env:Platform `
            -p:BuildInParallel=true `
            -maxCpuCount
        env:
          Configuration: ${{ matrix.configuration }}
          Platform: ${{ matrix.platform }}

      - name: Test
        run: |
          dotnet test Whim.sln --collect:"XPlat Code Coverage;Format=opencover"

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3.1.0
        with:
          files: src/**/TestResults/**/coverage.opencover.xml
